@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 700;

  src: url("assets/fonts/poppins-bold-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  font-style: italic;
  font-weight: 700;

  src: url("assets/fonts/poppins-bolditalic-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-bolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 800;

  src: url("assets/fonts/poppins-extrabold-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-extrabold-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  font-style: italic;
  font-weight: 800;

  src: url("assets/fonts/poppins-extrabolditalic-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-extrabolditalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  font-style: normal;
  font-weight: 400;

  src: url("assets/fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-regular-webfont.woff") format("woff");
}

@font-face {
  font-family: "poppins";
  font-style: italic;
  font-weight: 400;

  src: url("assets/fonts/poppins-italic-webfont.woff2") format("woff2"),
    url("assets/fonts/poppins-italic-webfont.woff") format("woff");
}

:root {
  --primary-clr-100: hsl(259, 100%, 65%);
  --primary-clr-200: hsl(0, 100%, 67%);

  --neutral-clr-0: hsl(0, 0%, 8%);
  --neutral-clr-50: #f0f0f0;
  --neutral-clr-100: hsl(0, 0%, 86%);
  --neutral-clr-150: hsl(0, 1%, 44%);
  --neutral-clr-200: hsl(0, 0%, 100%);
  --neutral-clr-250: hsl(0, 0%, 94%);
}

* {
  margin: 0;
  padding: 0;
}
input {
  border: none;
  outline: none;
}
body {
  background: var(--neutral-clr-50);
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

header {
  color: var(--primary-clr-100);
  font-size: 2em;
  font-style: italic;
  font-weight: 800;
  padding-block: 2rem;
  text-align: center;
}
.container {
  background: var(--neutral-clr-200);
  border-radius: 10px;
  border-bottom-right-radius: 25%;
  box-shadow: 1px 1px 10px 1px rgba(186, 186, 186, 0.4);
  color: var(--neutral-clr-0);
  margin-inline: auto;
  padding: 1.5rem 1rem;
  width: 275px;
}
.inputs-container,
.age-container {
  padding: 1rem 5px;
}
.age-container,
.input {
  display: flex;
  flex-direction: column;
}
.inputs-container {
  column-gap: 20px;
  display: grid;
  font-weight: bold;
  grid-template-columns: repeat(3, 1fr);
}

.input > * {
  margin-bottom: 0.5rem;
}
.input .label {
  color: var(--neutral-clr-150);
  font-size: 0.6em;
  letter-spacing: 3px;
}
.input input {
  border: 1px solid var(--neutral-clr-100);
  border-radius: 7px;
  box-sizing: border-box;
  font-size: 1em;
  font-weight: 800;
  padding: 0.5em;
  width: 100%;
}

input::placeholder {
  color: var(--neutral-clr-100);
}

.input input:focus {
  border-color: var(--primary-clr-100);
  caret-color: var(--primary-clr-100);
}
.input input.error {
  border-color: var(--primary-clr-200);
}
p.error {
  color: var(--primary-clr-200);
}
p.error-message {
  font-size: 0.4em;
  font-weight: 400;
}

.seperator-container {
  padding-block: 2rem;
}
.seperator {
  border-top: 2px solid var(--neutral-clr-100);
  width: 100%;
  height: 0;
  position: relative;
}
img {
  position: absolute;
  background: var(--primary-clr-100);
  border-radius: 50%;
  inset: 0;
  margin: auto;
  padding: 1rem;
  width: 1.5em;
  cursor: pointer;
}
img:hover {
  background-color: var(--neutral-clr-0);
  box-shadow: 1px 1px 10px 2px rgba(163, 163, 163, 0.3);
}
img:active {
  scale: 0.95;
}

.age-container {
  font-weight: 800;
  font-size: 2em;
  color: var(--neutral-clr-0);
  font-style: italic;
}
.age-container p > span {
  color: var(--primary-clr-100);
}

.attribution {
  font-size: 0.5em;
  text-align: center;
  margin-block: 1rem;
}

.attribution a {
  color: var(--primary-clr-100);
}

@media (min-width: 720px) {
  body {
    font-size: 24px;
  }
  .container {
    width: 475px;
    padding: 2rem;
  }
  .inputs-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .seperator-container {
    padding-block: 1.5rem;
  }
  img {
    inset: initial;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}
